*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.users-online{
  width: 300px;
  text-align: center;
}
.users-online-list{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: 1em;
}
.user-online-card{
  display: flex;
  gap: 1em;
}
.call-btn{
  background-color: ;
}
